parameters:
	level: 5
	fileExtensions:
		# Attention: There are files which have no extension! Therefore, please run ./phpstan.sh which temporarily renames then to *.php
		- php
		- phps
	paths:
		- .
	excludePaths:
		analyse:
			- shared/php_includes/idna_convert.class.php
		analyseAndScan:
			- .phpstan.tmp
	tmpDir: .phpstan.tmp
	bootstrapFiles:
		- ./maintenance/qa-monitor/config.inc.php
		- ./maintenance/pattern-generator/config.inc.php
	ignoreErrors:
		- '#is always (true|false)\.#'
		#- '#Call to function assert\(\) with false will always evaluate to false\.#'
		#- '#with no typehint specified\.#'
		# Bug in PHPstan: If you have function() definitions after exit(), this error comes ( https://github.com/phpstan/phpstan/issues/4002 )
		#- '#Unreachable statement - code above always terminates.#'
